{% extends "base.html" %}
{%import 'macros.html' as macro%}
{% block styles %}
{{super()}}

<link type="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

{% endblock %}
{%block content%}
<div class="container-fluid" style="justify-content: flex-start;">
    <div class="row"style="margin-left:20px"><a href="{{url_for('main.newpitch')}}"><button>Add</button></a></div>
{%if items%}
{{macro.displayPitch(items)}}
{%else%}
<div class="col-md-7" style="text-align: center;color:red"><h3>No Pitches!</h3></div>
{%endif%}
</div>
{% endblock %}
