{%block styles%}
<link type="stylesheet" href="{{url_for('static',filename='css/navigation.css')}}">
{%endblock%}

<div class="navbar navbar-inverse apperance" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        
            <a class="navbar-brand" href="/"> Pitching </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('auth.profile')}}">Profile</a></li>
  
                <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                  <li style="color:white;padding:15px;">{{current_user.username}}</li>
                  <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                  {% else %}
                  <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                  {%endif%}
                </ul>
  
            </ul>
  
           
        </div>
        
  
    </div>
  </div>
  

